#https://blog.nami.idv.tw/?p=641
* text=auto !eol
gradlew         text eol=lf
.idea/*.xml     text eol=lf

#https://jmln.tw/blog/2017-08-13-set-github-repo-lang.html
app/src/obselete/* linguist-vendored
#app/src/design/java/se/pixelcoding/wikitab/preferences/* linguist-vendored
app/src/design/* linguist-vendored
