<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dolphin.android.apps.CpblCalendar">

    <application
        android:allowBackup="true"
        android:name=".CpblApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Holo_green">

        <activity
            android:name=".CalendarForTabletActivity"
            android:screenOrientation="locked" />

        <activity
            android:name=".preference.GBPreferenceActivity"
            android:screenOrientation="locked" />

        <activity
            android:name=".preference.PreferenceActivity"
            android:screenOrientation="locked" />

        <activity
            android:name=".DelayGameActivity"
            android:label="@string/title_activity_delay_game"
            android:enabled="@bool/pref_enable_debug_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
